.about {
    box-sizing: border-box;
    position: relative;
    background: #E9F0F4;
    padding: 40px 0px;
    &_block {
        &_left {
            &_tagline {
                font-family: 'Montserrat', sans-serif;
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                color: #1858A8;
                margin: 0px;
            }
            & h2 {
                font-family: 'Montserrat', sans-serif;
                font-weight: 700;
                font-size: 24px;
                line-height: 29px;
                color: #262626;
                margin: 20px 0px 0px 0px;
            }
            &_text {
                font-family: 'Montserrat', sans-serif;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                color: #262626;
                margin: 20px 0px 0px 0px;
            }
        }
        &_right {
            &_item {
                position: relative;
                background: #FFFFFF;
                box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.1);
                border-radius: 10px;
                box-sizing: border-box;
                padding: 15px;
                margin-top: 20px;
                &_right {
                    & p {
                        font-family: 'Montserrat';
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 20px;
                        color: #262626;
                        margin: 11px 0px 0px 0px;
                    }
                }
            }
        }
    }
    @media (min-width: 768px) {
        padding: 54px 0px 40px 0px;
        &_block {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            position: relative;
            &_left {
                width: calc(50% - 15px);
                & h2 {
                    font-size: 26px;
                    line-height: 32px;
                    margin: 13px 0px 0px 0px;
                }
            }
            &_right {
                width: calc(50% - 15px);
                margin-top: 34px;
                &_item {
                    display: flex;
                    align-items: flex-start;
                    position: relative;
                    justify-content: space-between;
                    &:first-child {
                        margin-top: 0px;
                    }
                    &_right {
                        width: calc(100% - 77px);
                        & p {
                            margin: 0px;
                        }
                    }
                }
            }
        }
    }
    @media (min-width: 1024px) {
        padding: 44px 0px;
        &_block {
            &_left {
                width: calc(50% - 25px);
                &_tagline {
                    font-size: 18px;
                    line-height: 22px;
                }
                & h2 {
                    font-size: 32px;
                    line-height: 39px;
                    margin-top: 26px;
                }
                &_text {
                    font-size: 16px;
                    line-height: 22px;
                }
            }
            &_right {
                width: calc(50% - 25px);
                margin-top: 0px;
                &_item {
                    &_right {
                        & p {
                            font-size: 16px;
                            line-height: 22px;
                        }
                    }
                }
            }
        }
    }
    @media (min-width: 1200px) {
        padding: 80px 0px 60px 0px;
        &_block {
            &_left {
                width: calc(50% - 50px);
                &_tagline {
                    font-size: 18px;
                    line-height: 22px;
                }
                & h2 {
                    font-size: 40px;
                    line-height: 49px;
                }
                &_text {
                    font-size: 18px;
                    line-height: 25px;
                }
            }
            &_right {
                width: calc(50% - 50px);
            }
        }
    }
}

.icon_feature {
    background: url(../img/about/back_num.svg);
    background-size: cover;
    background-position: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    & span {
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 18px;
        line-height: 32px;
        color: #FFFFFF;
    }
    & img {
        width: 20px;
        transform: translate(3px, -3px);
    }
    @media (min-width: 768px) {
        width: 50px;
        height: 50px;
    }
}