.header {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    background: #E9F0F4;
    box-sizing: border-box;
    padding: 8px 0px;
    z-index: 3;
    height: 74px;
    &_block {
        &_top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            &_logo {
                & img {
                    width: 132px;
                }
            }
            &_content {
                display: flex;
                align-items: center;
                &_mail {
                    display: block;
                    text-decoration: none;
                    & span {
                        display: none;
                    }
                }
                &_tel {
                    text-decoration: none;
                    display: block;
                    margin-left: 15px;
                    & span {
                        display: none;
                    }
                }
                &_search {
                    display: none;
                }
                &_lang {
                    display: none;
                }
                &_cart {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    box-sizing: border-box;
                    border: 1px solid rgba(124, 177, 223, 0.6);
                    border-radius: 10px;
                    width: 42px;
                    height: 42px;
                    padding-left: 7px;
                    margin-left: 15px;
                }
                &_burger {
                    width: 42px;
                    height: 42px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    box-sizing: border-box;
                    border-radius: 10px;
                    border: 1px solid rgba(124, 177, 223, 0.6);
                    cursor: pointer;
                    margin-left: 15px;
                }
            }
        }
    }
    @media (min-width: 768px) {
        padding: 12px 0px;
        height: 82px;
        &_block {
            &_top {
                &_content {
                    &_mail {
                        display: flex;
                        align-items: center;
                        & img {
                            margin-right: 6px;
                        }
                        & span {
                            display: block;
                            font-family: 'Montserrat', sans-serif;
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 20px;
                            color: #5E5E5E;
                        }
                    }
                    &_tel {
                        display: flex;
                        align-items: center;
                        margin-left: 36px;
                        & img {
                            margin-right: 6px;
                        }
                        & span {
                            display: block;
                            font-family: 'Montserrat', sans-serif;
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 20px;
                            color: #5E5E5E;
                        }
                    }
                    &_search {
                        width: 42px;
                        height: 42px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        box-sizing: border-box;
                        border-radius: 10px;
                        border: 1px solid rgba(124, 177, 223, 0.6);
                        cursor: pointer;
                        margin-left: 36px;
                    }
                }
            }
        }
    }
    @media (min-width: 1024px) {
        padding: 16px 0px;
        height: 94px;
        &_block {
            &_top {
                &_logo {
                    & img {
                        width: 140px;
                    }
                }
                &_content {
                    &_mail {
                        & span {
                            font-size: 16px;
                            line-height: 22px;
                        }
                    }
                    &_tel {
                        margin-left: 46px;
                        & span {
                            font-size: 16px;
                            line-height: 22px;
                        }
                    }
                    &_search {
                        margin-left: 58px;
                    }
                    &_lang {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        box-sizing: border-box;
                        border-radius: 10px;
                        border: 1px solid rgba(124, 177, 223, 0.6);
                        cursor: pointer;
                        margin-left: 15px;
                        padding: 0px 18px;
                        height: 42px;
                        & img {
                            margin-right: 9px;
                        }
                        & span {
                            font-family: 'Roboto', sans-serif;
                            font-weight: 400;
                            font-size: 18px;
                            line-height: 21px;
                            color: #5E5E5E;
                        }
                    }
                }
            }
        }
    }
    @media (min-width: 1200px) {
        padding: 10px 0px;
        height: 95px;
        &_block {
            &_top {
                &_logo {
                    & img {
                        width: auto;
                    }
                }
                &_content {
                    &_burger {
                        display: none;
                    }
                }
            }
        }
        &.active {
            & .header_block_top_content_burger {
                display: flex;
            }
        }
    }
}

.drop_desktop {
    display: none;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    background: #E9F0F4;
    z-index: 2;
    transition: all 0.3s linear;
    &.hide {
        transform: translateY(-95px);
        transition: all 0.3s linear;
    }
    @media (min-width: 1200px) {
        display: block;
        height: 65px;
        box-sizing: border-box;
        padding: 16px 0px 25px 0px;
        top: 95px;
        & ul {
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0px;
            padding: 0px;
            & li {
                & a {
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 20px;
                    color: #5E5E5E;
                    display: flex;
                    align-items: center;
                    box-sizing: border-box;
                    padding: 8px 15px;
                    border-radius: 10px;
                    transition: all 0.3s linear;
                    & .img_wrap {
                        margin-right: 9px;
                        & img {
                            &.default {
                                display: block;
                            }
                            &.hover {
                                display: none;
                            }
                        }
                    }
                    &:hover {
                        background: rgba(124, 177, 223, 0.3);
                        transition: all 0.3s linear;
                    }
                    &.active {
                        background: #1858A8;
                        transition: all 0.3s linear;
                        color: #fff;
                        & .img_wrap {
                            & img {
                                &.default {
                                    display: none;
                                }
                                &.hover {
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

