.team {
    box-sizing: border-box;
    position: relative;
    padding: 40px 0px;
    & h2 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        color: #262626;
        margin: 0px;
    }
    &_text {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #262626;
        margin: 5px 0px 0px 0px;
    }
    &_block {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: stretch;
        &_item {
            width: calc(50% - 15px);
            margin-top: 15px;
            &_img {
                position: relative;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                & img {
                    width: 90%;
                }
            }
            &_text {
                & h3 {
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 17px;
                    color: #222222;
                    margin: 12px 0px 0px 0px;
                    position: relative;
                    &::after {
                        content: "";
                        position: absolute;
                        left: 0px;
                        bottom: -6px;
                        width: 100%;
                        height: 1px;
                        background-color: #CFCFCF;
                    }
                }
                & p {
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                    color: #5C5C5C;
                    margin: 10px 0px 0px 0px;
                }
            }
        }
    }
    @media (min-width: 768px) {
        & h2 {
            font-size: 26px;
            line-height: 32px;
        }
        &_block {
            justify-content: flex-start;
            &_item {
                width: calc(25% - 22px);
                margin-left: 29px;
                margin-top: 10px;
                &:first-child {
                    margin-left: 0px;
                }
                &:nth-child(4n+1) {
                    margin-left: 0px;
                }
            }
        }
    }
    @media (min-width: 1024px) {
        padding: 60px 0px;
        & h2 {
            font-size: 32px;
            line-height: 39px;
        }
        &_text {
            font-size: 16px;
            line-height: 22px;
        }
        &_block {
            &_item {
                width: calc(25% - 30px);
                margin-left: 40px;
                margin-top: 20px;
                &_text {
                    & h3 {
                        font-size: 18px;
                        line-height: 22px;
                        margin-top: 16px;
                        &::after {
                            bottom: -10px;
                        }
                    }
                    & p {
                        font-size: 16px;
                        line-height: 22px;
                        margin-top: 16px;
                    }
                }
            }
        }
    }
    @media (min-width: 1200px) {
        padding: 45px 0px 80px 0px;
        & h2 {
            font-size: 40px;
            line-height: 49px;
        }
        &_text {
            font-size: 18px;
            line-height: 25px;
            margin: 10px 0px 0px 0px;
        }
    }
}